{% extends 'base.html.twig' %}

{% block title %}Qui Sommes-nous{% endblock %}

{% block body %}


		<div class="container bg-warning bs-docs-container">
			<div class="row">
				<div class="col-md-9" role="main">
					<div class="bs-docs-section">
						<h1 id="download" class="page-header">
							<a class="anchorjs-link " href="#download" aria-label="Anchor link for: download" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Qui sommes-Nous
						</h1>
						<p class="lead">Un jour, Mamadou Ba   repère un  ordinateur qu’il voulait comme cadeau  pour son petit
                frère au Sénégal. Une bonne affaire bien sûr ! Jusqu'à ce que se pose le dilemme de l’envoi du colis. Le coût d’un transporteur professionnel ruinerait ce bon plan et son compte bancaire. 
                Alors que le transport de colis vit ses heures de gloire , cette péripétie engendre l’aventure
                Flyde! Et oui, Flyde est la solution pour  ce dilemme et transporte vos affaires en  vous proposant des vols dans l’axe Paris Dakar avec des  tarifs accessibles (10 euros/kilo). 
                Au coeur de la livraison entre particuliers, l’entraide ou la volonté de rendre service.
                Flyde s’inscrit dans votre quotidien comme un facilitateur de rencontres. 
                Trouver cette personne que vous ne connaissez pas, mais qui vous permettra de réaliser des
                économies et à qui vous ferez réaliser des économies, telle est notre mission.</p>

                </div>
                </div>

	    </div>
    </div>

    	<div class="bg-succes container bg-warning bs-docs-container">
            <div class="row">
				<div class="col-md-9" role="main">
					<div class="bs-docs-section">
						<h1 id="download" class="page-header">
							<a class="anchorjs-link " href="#download" aria-label="Anchor link for: download" data-anchorjs-icon="" style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 1em; line-height: inherit; font-family: anchorjs-icons; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Et aujourd'hui nous sommes là pour vous
                        </h1>
                        <p class="lead">On s'engage à assurer la confidentialité de vos bagages , et ceux fragiles sont géreés avec beaucoup de soin.</p>

                    </div>
                </div>
            </div>
        </div>
    



    
{% endblock %}
