{% extends 'base.html.twig' %}


{% block title %}Colis transportés{% endblock %}

{% block body %}
    
<section class="page-content">
<section class="container">
<div class="row">
<div class="col-md-6">
<div class="custom-heading">
<h2>Nous transportons tous types de produits dont le volume n’excede pas  270 x 150 cm.
Nous ne transportons pas aussi de la cigarette de l’alcool et tout produit suspect
</h2>
<div class="cma-wysiwyg-editor">

<p><strong>Vos marchandises sont entre de bonnes mains !</strong>


</div>
<div style="margin-bottom: 20px;" class="">

<ul class="fa-ul default">

<li>

<i class="fa fa-li fa-paint-brush"></i>Transport de viandes fraîches pendues (carcasses bovines, ovines)

</li>

<li>

<i class="fa fa-li fa-paint-brush">

</i>Transport de produits frais (tout produit élaboré, produits carnés, fromages, yaourts, fruits et légumes...)</li>

<li>
<i class="fa fa-li fa-paint-brush">
</i>
Transports de médicaments et produits pharmaceutiques
</li>

<li><i class="fa fa-li fa-paint-brush">
</i>Transport tout produit surgelé (viandes, abats, poissons, produits élaborés, glaces, patisseries...) 
</li><li><i class="fa fa-li fa-paint-brush">

</i>Transport de produits congelés, vracs et conditionnés
</li>

<li><i class="fa fa-li fa-paint-brush">
</i>Transport produits secs (riz, pâtes, biscuits, tout produit alimentaire...)

</li>

<li><i class="fa fa-li fa-paint-brush"></i>Transport produits liquides conditionnés (huile, jus de fruits)

</li>

<li><i class="fa fa-li fa-paint-brush"></i>Transport de toute marchandise industrielle palettisée

</li>

</ul>





</div>



<div class="col-md-6 " style="">

<img src="http://www.dpo-transports.com/wp-content/uploads/Fotolia_76158110_XS.jpg" class="left" title="Composition with variety of grocery products isolated on white." alt="Composition with variety of grocery products isolated on white" width="445" height="269">

<div class="clearfix">
</div>

<div class="clearfix">

</div>

</div>
</div>
</div>
</div>
</section>
</section>

                
{% endblock %}

